a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
}

.img-responsive {
	width: auto !important;
	height: auto !important;
	object-fit: cover !important;
}

.img-responsive:hover {
	box-shadow: 2px 2px 2px #73e5ca;
	transform: scale(1.2);
}

.img-responsive {
	transition: 0.3s;
	margin: 3rem;
}
